<template>
  <div id="Layout" class="Layout--default">
    <div>
      <button @click="singOutAndReset()">
        Logout
      </button>

      <img :src="user.avatarUrl" :alt="user.login">
      {{ user.name }}
      {{ user.id }}
    </div>
    <NuxtPage />
  </div>
</template>

<script lang="ts" setup>
  const { signOut } = useAuth();

  const userStore = useUserStore();
  const user = computed(() => userStore.getUser);

  const singOutAndReset = () => {
    useCookie('loginProvider').value = '';
    signOut();
  };
</script>

