<template>
  <div>
    <button @click="signByGithub()">
      Login via Github
    </button>
  </div>
</template>


<script lang="ts" setup>
definePageMeta({
  middleware: ['not-auth'],
  auth: false,
  layout: 'login',
});


const { signIn } = useAuth();
const signByGithub = () => {
  useCookie('loginProvider').value = 'github';
  signIn('github');
};
</script>
